.speed-container{
  margin-top:40px;
  padding:40px;
  background:#121826;
  border-radius:24px;
  text-align:center;
  box-shadow:0 0 30px rgba(0,0,0,0.4);
}

.speed-container h1{
  font-size:56px;
  margin-bottom:10px;
  font-weight:bold;
}

.speed-container p{
  font-size:24px;
  opacity:0.8;
  margin-bottom:40px;
}

.speed-circle{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:auto;

  width:420px;
  height:420px;

  max-width:90vw;
  max-height:90vw;

  border-radius:50%;

  background:
  radial-gradient(
    circle,
    rgba(0,0,0,0.3),
    rgba(77,163,255,0.4)
  );

  cursor:pointer;

  animation:pulse 2s infinite;

  transition:0.3s;
}

.speed-circle:hover{
  transform:scale(1.03);
}

.speed-inner{
  display:flex;
  justify-content:center;
  align-items:center;

  width:230px;
  height:230px;

  max-width:50vw;
  max-height:50vw;

  border-radius:50%;

  background:#07142e;

  font-size:64px;
  font-weight:bold;

  user-select:none;
}

.results-grid{
  display:flex;
  justify-content:center;
  gap:35px;
  margin-top:50px;
  flex-wrap:wrap;
}

.metric-box{
  background:#0d1324;
  padding:30px;
  border-radius:20px;
  min-width:220px;
  box-shadow:0 0 20px rgba(0,0,0,0.4);
}

.metric-box h3{
  font-size:30px;
  margin-bottom:15px;
  opacity:0.9;
}

.metric-box p{
  font-size:48px;
  font-weight:bold;
  margin:0;
}

@keyframes pulse{
  0%{
    box-shadow:0 0 40px rgba(77,163,255,0.3);
  }

  50%{
    box-shadow:0 0 70px rgba(77,163,255,0.6);
  }

  100%{
    box-shadow:0 0 40px rgba(77,163,255,0.3);
  }
}

/* MOBILE */

@media (max-width:768px){

  .speed-container{
    padding:20px;
    margin-top:20px;
  }

  .speed-container h1{
    font-size:34px;
  }

  .speed-container p{
    font-size:16px;
  }

  .speed-circle{
    width:300px;
    height:300px;
  }

  .speed-inner{
    width:170px;
    height:170px;
    font-size:42px;
  }

  .metric-box{
    width:100%;
    min-width:unset;
  }

  .metric-box h3{
    font-size:22px;
  }

  .metric-box p{
    font-size:34px;
  }
}